!config/bnip/.gitkeep
*.bak
*.log
*.pyc
*.pyo
*.spec
*_generated.py
*info_*.png
*info_log_parsed.txt
.coverage
.idea/
.pytest_cache/
.venv
.vs/
__pycache__/
build/
config/bnip/*
config/custom.*.ini
config/custom.ini
coverage.xml
custom.ini
custom_filter_affixes.yaml
custom_filter_aspects.yaml
d4lf_*
dist/
generated/
htmlcov/
info_screenshots/
item_error_screenshots/
log/
loot_screenshots/
main.build/
main.dist/
main.onefile-build/
pickit_screenshots/
playground.py
stats/
utils/live-view/
venv
