[tool.ruff]
indent-width = 4
line-length = 140
target-version = "py312"


[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = "dynamic"
indent-style = "space"
line-ending = "auto"
quote-style = "double"
skip-magic-trailing-comma = false

[tool.ruff.lint]
select = [
    "A",
    "ASYNC",
    "ASYNC1",
    "B",
    "C4",
    "DTZ",
    "E",
    "EXE",
    "F",
    "FA",
    "I",
    "ICN",
    "INT",
    "LOG",
    "PERF",
    "PT",
    "Q",
    "R",
    "RET",
    "RSE",
    "SIM",
    "SLOT",
    "T10",
    "TCH",
    "TID",
    "UP",
    "W",
    "YTT",
    # "PL",
    # "PTH",
    # "RUF",
]
ignore = ["E501"]

[tool.ruff.lint.isort]
split-on-trailing-comma = true
