./dependencies/tesserocr-2.7.0-cp312-cp312-win_amd64.whl
Pillow
beautifultable
colorama
coverage
cryptography
keyboard
lxml
mouse
mss
natsort
numpy
opencv-python==4.9.0.80
pre-commit
psutil
pydantic
pydantic-numpy
pydantic-yaml
pyinstaller
pytest
pytest-env
pytest-mock
pytest-pythonpath
pytest-xdist
pytweening
pywin32
rapidfuzz
ruff
selenium
tk
typing_extensions
webdriver-manager
