./dependencies/tesserocr-2.7.0-cp312-cp312-win_amd64.whl
Pillow
beautifultable
colorama
coverage
cryptography
httpx
keyboard
lxml
mouse
mss
natsort
numpy<2
opencv-python==4.10.0.82
pre-commit
psutil
pydantic
pydantic-numpy
pydantic-yaml

pyinstaller
pyqt6
pytest
pytest-env
pytest-mock
pytest-pythonpath
pytest-xdist
pytweening
pywin32
pyyaml
rapidfuzz
ruamel.yaml==0.18.6
ruff
selenium
tk
typing_extensions
webdriver-manager
